body{
	background-color:black;
	color:white;
}

.main-container{
	padding-top:30px;
}

.logo{
	max-width:300px;
}

.social-icons{
	margin-top:20px;
	list-style-type:none;
	padding: 0px;
	padding-left:23px;
}

.social-icons li{
	display:inline-block;
	margin: 0px 20px;
}

.social-icons li a{
	color: inherit;
}

.social-icons li a:hover{
	color: #0275d8;
}
