---
---

$red: #e74c3c;
$orange: #FF6A00;
$youtubered: #E62117;
$blue: #0275d8;

body{
	background-color:#222222;
	color:white;
}

.footer{
	padding-bottom:50px;
}

a{
	color: $blue;
	&:visited{
		color: $blue;
	}
	&:hover{
		color: $blue;
	}
}

.iframe-container{
	margin:auto;
	max-width:600px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  iframe{
  	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-container{
	padding-top:30px;
}

.logo{
	max-width:150px;
	@media (min-width: 768px) {
		margin-left:-40px;
	}
}

ul.horizontal{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	// padding-left:55px;

	li{
		display:inline-block;
		margin: 0px 20px;
		a{
			color: inherit;
			&:hover{
				text-decoration:underline;
			}
		}
		&.active{
			text-decoration: underline;
		}
	}
}

ul.social li{
	a{
		font-size: 14px;
		&:hover{
			color: #0275d8;
		}
		&.youtube:hover{
			color: $youtubered;
		}
		&.soundcloud:hover{
			color: $orange;
		}
		i{
			font-size:1.5em !important;
		}
	}
}

ul.header-nav{
	display:inline-block;
	@media (max-width: 575px) {
		display:block;
		&.second{
			margin-top:10px;
		}
	}
}

.live{
	padding: 3px 8px;
	border-radius: 5px;
  background-color:$red;
  i{
  	margin-left:10px;
  }
}

.live.disabled{
	opacity: 0.65;
	filter: alpha(opacity=65);
}

.home-img{
	width:200px;
}

.songs-list{
	width: 50%;
	margin:auto;
}

.media-list{
	list-style-type:none;
	li{
		margin:50px auto;
		&:first-of-type{
			margin-top:0px;
		}
	}
	p{
		text-align:center;
	}
}

.contact{
	width:70%;
	margin:auto;
}

.contact-submit{
	cursor: pointer;
	background-color: $blue;
	border-color: $blue;
}

.songs-buttons{
	display:inline-block;
	@media (max-width: 575px) {
		display:block;
		margin-top:10px;
	}
}

